.profile__avatar-btn {
    width: 120px;
    height: 120px;
    background-image: url("../../../images/pen.svg");
    border-radius: 50%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    transition: .8s ease;
    opacity: 0;
    top: 179px;

}

.profile__avatar-btn:hover {
    opacity: .8;
    cursor: pointer;
    background-color: #000;
}

@media (max-width: 580px) {
  .profile__avatar-btn {
    top: 157px;
    left: 190px;
  }
}

