.popup__container {
    position: relative;
    background-color: #fff;
    color: #000000;
    border-radius: 10px;
    margin: auto;
    box-sizing: border-box;
    min-height: 330px;
    width: 430px;
}



@media screen and (max-width: 581px) {
    .popup__container {
        min-width: 282px;
        min-height: 322px;
        margin: 0 auto 0;

    }
}
