.profile__plus {
    max-width: 22px;
    max-height: 22px;
    background: transparent url("../../../images/Plas.svg") no-repeat center;
}

@media (max-width: 435px) {
    .profile__plus {
        max-width: 15px;
        max-height: 15px;
    }
}