.header__button {
  margin-top: 8px;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.header__button:hover {
  opacity: 0.6;
}

@media (max-width: 480px) {
  .header__button {
    margin-right: 34px;
    font-size: 14px;
    line-height: 17px;
  }
}
