.popup__container-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 250px;
}


@media(max-width: 581px) {
    .popup__container-input {
        padding: 0;
        margin: 45px 0 0;
    }
}